.error_page img {
    max-width: 100%;
}

@media only screen and (min-width: 1201px) and (max-width: 1231px) {
    header nav ul li a, .header_bottom nav ul li a {
        font-size: 13px;
    }

    .top_bar .top_btn {
        margin-right: 2px;
    }

    .boxed_size {
        padding: 0 20px;

        .inner_box {
            width: 100%;
        }
    }

    .services_two .service h5 {
        font-size: 14px;
    }

    .header_bottom form {
        float: right;
    }

    .header ul li {
        margin-right: 20px;
    }

    .about_imod .about_img figure {
        width: 100%;
    }

    .cntct-form {
        padding-top: 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .logo {
        padding-top: 30px;
    }

    .col-sm-12.col-md-4.text-right {
        padding-right: 0;
    }

    .main_info .info_inner .button {
        width: 100%;
        font-size: 13px;
    }

    .info_inner {
        .col-md-1 {
            display: none;
        }

        .col-md-5 {
            width: 50%;
        }
    }

    .feature h5 {
        margin-bottom: 5px;
    }

    .department ul li {
        margin-bottom: 20px;
    }

    .ser_inner .detail .con {
        width: 100%;
        margin-top: 15px;
    }

    .meta {
        margin-bottom: 10px;
    }

    .practice-bar {
        padding: 50px 20px;
    }

    .team .details h6 {
        margin-bottom: 10px;
    }

    .cl-info h2 {
        font-size: 30px;
    }

    .cntct-form {
        padding-top: 30px;
    }

    .content-data {
        padding-top: 25px;
    }

    .slide_content {
        h1 {
            font-size: 34px;
            line-height: 42px;
        }

        p {
            br {
                display: none;
            }

            font-size: 16px;
            padding-right: 20px;
        }
    }

    .about_imod .about_img figure {
        width: 100%;
    }

    .header ul li {
        margin-right: 20px;
    }

    .header_bottom form {
        float: right;
    }

    .contact_detail img {
        width: 100%;
    }

    .recent_post ul li p {
        margin-bottom: 0;
    }

    header nav ul li a {
        font-size: 10px;
    }

    p {
        font-size: 12px;
    }

    .department ul li a {
        font-size: 13px;
    }

    .stat h3 span {
        margin-bottom: 5px;
    }

    .header_bottom nav ul li a {
        font-size: 10px;
    }

    .features-list {
        padding-top: 60px;
    }

    .featur h3 {
        font-size: 16px;
    }

    .footer_widget .social a {
        margin-bottom: 10px;
    }

    .boxed_size {
        padding: 0 20px;

        .inner_box {
            width: 100%;
        }
    }

    .footer_detail .button {
        display: inline-block;
        padding: 10px 14px;
    }

    .stat h3 {
        font-size: 17px;
        vertical-align: 16px;

        span {
            display: block;
            font-size: 15px;
        }
    }

    .services_two .service h5 {
        font-size: 14px;
    }

    .shop {
        padding: 35px 25px;
    }
}

@media only screen and (min-width: 801px) and (max-width: 991px) {
    .header {
        div ul {
            float: left;
            width: auto;
        }

        ul li {
            margin-right: 20px;
            margin-top: 5px;
        }
    }

    .feature_img img {
        display: none;
    }

    .news h5 {
        font-size: 16px;
    }

    .department .tabss img, .footer_detail span br {
        display: none;
    }

    .services_two .service h5 {
        font-size: 14px;
    }

    .slide_content {
        h1 {
            margin-bottom: 10px;
            font-size: 25px;
            font-weight: 600;
            color: #fff;
            text-decoration: none;
            line-height: 30px;
        }

        h3 {
            font-size: 14px;
        }

        padding-top: 34px;

        > .container > .row > .col-sm-12 {
            margin-top: -130px;
        }
    }

    .team figure {
        height: auto;

        img {
            height: auto;
        }
    }

    .footer_detail .button {
        display: inline-block;
        padding: 10px 14px;
    }

    .boxed_size {
        padding: 0 20px;

        .inner_box {
            width: 100%;
        }
    }

    .top_bar .bar_inner {
        .button {
            display: inline-block;
            line-height: normal;
            padding: 9px 14px;
        }

        height: auto;
        line-height: normal;
        padding: 10px;
    }

    header nav ul li {
        margin-left: 9px;
    }

    .header_bottom nav ul li {
        margin-right: 9px;
    }

    header nav ul li a, .header_bottom nav ul li a {
        font-size: 10px;
    }

    .main_info .info_inner .button {
        border: 0;
        margin-left: -14px;
        font-size: 10px;
        padding: 10px 8px;
    }

    .department ul li a {
        font-size: 12px;
    }

    .stat {
        h3 {
            font-size: 17px;

            span {
                display: block;
                font-size: 15px;
            }
        }

        text-align: center;
    }

    .team_wrap .team {
        margin-bottom: 0;
    }

    .header_bottom form {
        input[type="text"] {
            width: 100%;
        }

        a {
            width: 38px;
        }
    }

    .header {
        height: auto;
        padding: 10px 0;

        div {
            ul {
                text-align: center;
            }

            text-align: center;
        }

        .button {
            display: inline-block;
            margin-top: 11px;
        }
    }

    .slide_content .iner_content .button {
        border: 0;
        font-size: 8px;
    }

    .about_imod .about_img figure {
        width: 100%;
        height: auto;
    }

    .contact_detail {
        .address {
            width: 100%;
            padding: 10px !important;
        }

        img {
            width: 100%;
            margin: 0 auto;
            display: block;
        }
    }

    .maped_detail span strong {
        font-size: 25px;
    }

    article.news figure {
        height: auto;
    }

    .recent_post ul li {
        margin-bottom: 20px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .project_two ul li.item {
        width: 20%;
    }

    .contact_detail .button img {
        margin-bottom: 0;
        width: auto;
        height: auto;
        display: inline-block;
    }

    .side_widget address .button {
        font-size: 10px;

        img {
            display: none;
        }
    }

    .my-selector a {
        margin-bottom: 10px;
    }

    .side_widget form input[type='text'] {
        width: 61.6%;
    }

    .recent_post.best_seller ul li img {
        width: 69px;
        height: 66px;
    }

    .shop img {
        width: 100%;
    }

    footer {
        .col-md-2.col-sm-2, .col-md-3.col-sm-3 {
            width: 50%;
        }

        .col-md-2.col-sm-2 .footer_widget {
            width: 46%;
            display: inline-block;
            vertical-align: top;
        }
    }

    .promotion .inner_promotion h5 {
        margin-bottom: 10px;
    }

    .button {
        padding: 12px 10px;
    }

    .footer_bottom p {
        text-align: center;
    }

    .header_bottom form {
        float: right;
        width: 100%;
        margin-top: 30px;

        input {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 800px) {
    .features_wrap .feature_img img {
        display: none;
    }

    .bar_inner .row .col-sm-12.col-md-4.text-right {
        width: 66%;
    }

    .header_bottom form {
        float: right;
        width: 100%;
        margin-top: 30px;

        input {
            width: 100%;
        }
    }

    .header {
        div ul {
            float: left;
            width: auto;
        }

        ul li {
            margin-right: 20px;
            margin-top: 5px;
        }
    }

    .department .tabss img, .footer_detail span br {
        display: none;
    }

    .footer_bottom p {
        text-align: center;
    }

    .button {
        padding: 12px 10px;
    }

    .promotion .inner_promotion h5 {
        margin-bottom: 10px;
    }

    .shop {
        min-height: 500px;
    }

    .slide_content {
        h1 {
            margin-bottom: 10px;
            font-size: 25px;
            font-weight: 600;
            color: #fff;
            text-decoration: none;
            line-height: 30px;
        }

        h3 {
            font-size: 14px;
        }

        padding-top: 34px;

        > .container > .row > .col-sm-12 {
            margin-top: -130px;
        }
    }

    .team figure {
        height: auto;

        img {
            height: auto;
        }
    }

    .boxed_size {
        padding: 0 10px;

        .inner_box {
            width: 100%;
        }
    }

    .top_bar .bar_inner {
        .button {
            display: inline-block;
            line-height: normal;
            padding: 9px 14px;
        }

        height: auto;
        line-height: normal;
        padding: 10px;
    }

    header nav ul li {
        margin-left: 9px;
    }

    .header_bottom nav ul li {
        margin-right: 9px;
    }

    header nav ul li a, .header_bottom nav ul li a {
        font-size: 10px;
    }

    .main_info .info_inner .button {
        border: 0;
        margin-left: -14px;
        font-size: 10px;
        padding: 10px 8px;
    }

    .heading {
        padding: 0 15px;
    }

    .department ul li a {
        font-size: 12px;
    }

    .stat {
        h3 {
            font-size: 17px;

            span {
                display: block;
                font-size: 15px;
            }
        }

        text-align: center;
    }

    .team_wrap .team {
        margin-bottom: 0;
    }

    .header_bottom form {
        input[type="text"] {
            width: 100%;
        }

        a {
            width: 38px;
        }
    }

    .header {
        height: auto;
        padding: 10px 0;

        div {
            ul {
                text-align: center;
                width: 100%;
            }

            text-align: center;
        }

        .button {
            display: inline-block;
            margin-top: 11px;
        }
    }

    .slide_content .iner_content .button {
        border: 0;
        font-size: 8px;
    }

    .about_imod .about_img figure {
        width: 100%;
        height: auto;
    }

    .contact_detail {
        .address {
            width: 100%;
            padding: 10px !important;
        }

        img {
            width: 100%;
            margin: 0 auto;
            display: block;
        }
    }

    .maped_detail span strong {
        font-size: 25px;
    }

    article.news figure {
        height: auto;
    }

    .recent_post {
        ul li {
            margin-bottom: 20px;

            img {
                width: 100%;
                height: auto;
            }
        }

        &.best_seller ul li img {
            width: 69px;
            height: 66px;
        }
    }

    .project_two ul li.item {
        width: 20%;
    }

    .contact_detail .button img {
        margin-bottom: 0;
        width: auto;
        height: auto;
        display: inline-block;
    }

    .side_widget address .button {
        font-size: 10px;

        img {
            display: none;
        }
    }

    .my-selector a {
        margin-bottom: 10px;
    }

    .side_widget form input[type='text'] {
        width: 61.6%;
    }

    .shop img {
        width: 100%;
    }

    footer {
        .col-md-2.col-sm-2, .col-md-3.col-sm-3 {
            width: 50%;
        }

        .col-md-2.col-sm-2 .footer_widget {
            width: 46%;
            display: inline-block;
            vertical-align: top;
        }
    }
}

@media only screen and (min-width: 701px) and (max-width: 767px) {
    .department .tabss img {
        display: none;
    }

    .column-outer {
        margin-bottom: 50px;
    }

    .footer_detail {
        padding: 50px 20px;
    }

    .footer_bottom {
        padding-bottom: 30px;
    }

    .footer_detail span br {
        display: none;
    }

    .testi {
        margin-bottom: 44px;
    }

    .top_bar ul li {
        margin-bottom: 10px;
    }

    .cart {
        text-align: center;
        margin: 0 0 10px;
    }

    .features_wrap div.col-sm-6 {
        overflow: hidden;
    }

    .stat h3 {
        font-size: 18px;
        line-height: 36px;
        vertical-align: top;
    }

    .team figure {
        img {
            width: 100%;
            height: auto;
        }

        position: relative;
        height: auto;
    }

    .test_slider {
        width: 90% !important;
        margin: 0 auto;

        > div {
            width: 100% !important;
        }
    }

    .news {
        .col-sm-4.col-md-4 {
            width: 30%;
            float: left;
        }

        h5 {
            line-height: 25px;
        }
    }

    .footer_detail .button {
        display: inline-block;
    }

    .meta ul li {
        margin-bottom: 5px;
    }

    .team_wrap .team {
        width: 50%;
        float: left;
    }

    .boxed_size {
        padding: 0 10px;

        .inner_box {
            width: 100%;
        }
    }

    .responsive_button {
        display: block;
    }

    .responsive_nav.navbar-collapse {
        margin-bottom: 10px;
    }

    .top_bar .bar_inner {
        .button {
            display: inline-block;
        }

        border-bottom: 1px solid #eee;
        height: auto;
        line-height: 30px;
        text-align: center;
        padding: 10px 0;

        div {
            text-align: center;
        }
    }

    header {
        .logo {
            text-align: center;
            margin-bottom: 10px;

            a img {
                width: auto;
            }
        }

        height: auto;
        line-height: normal;
        padding: 10px 0 0;
    }

    .my-selector a {
        margin-bottom: 10px;
    }

    header form {
        width: 100%;
        margin-bottom: 10px;

        a {
            i {
                color: #fff;
            }

            background: #000;
            height: 38px;
            display: inline-block;
            vertical-align: middle;
            line-height: 37px;
            text-align: center;
            width: 38px;
            margin-left: -5px;
        }

        input[type="text"] {
            position: static;
            visibility: visible;
            width: 85%;
            border: 2px solid #000;
            border-radius: 0;
        }
    }

    .header {
        height: auto;
        text-align: center;
        padding: 0 0 12px;

        div {
            text-align: center;
            line-height: normal;
        }

        ul {
            text-align: center;
        }

        .button {
            display: inline-block;
        }

        ul li {
            text-align: left;
        }
    }

    nav {
        display: none;
    }

    .slide_content {
        .iner_content {
            display: none;
        }

        h1 {
            font-size: 18px;
            line-height: normal;
        }

        padding-top: 64px;
    }

    .main_slider {
        height: 500px;

        img {
            height: 500px;
        }
    }

    .main_info {
        .info_inner {
            padding: 55px 20px;
        }

        background-size: 300px;
        padding-bottom: 7px;
    }

    .features_wrap .feature_img img {
        margin: 0;
        width: 100%;
        margin-bottom: 12px;
        display: none;
    }

    .feature i {
        margin-bottom: 76px;
    }

    .heading {
        padding: 0 10px;
    }

    .stat {
        margin-bottom: 10px;
    }

    .team_wrap .team {
        .details {
            background: #fff;
        }

        margin-bottom: 15px;
    }

    .testi_d {
        margin-bottom: 64px;
    }

    .award {
        margin-bottom: 30px;
    }

    .footer_detail {
        padding: 20px;
    }

    .footer_bottom p {
        color: #ccc;
        line-height: 27px;
        margin-top: 16px;
    }

    .about_imod .about_img figure {
        width: 100%;
        height: auto;
    }

    .features_three {
        .detld {
            padding: 20px;
        }

        background-image: none;
    }

    .promotion .inner_promotion span {
        margin: 0;
    }

    .team_wrap.team_two .team {
        margin-bottom: 15px;
    }

    .contact_detail {
        .address {
            width: 100%;
            padding: 10px !important;
        }

        img {
            width: 100%;
            margin: 0 auto;
            display: block;
        }
    }

    .maped_detail span strong {
        font-size: 25px;
    }

    article.news figure {
        height: auto;
    }

    .recent_post ul li {
        margin-bottom: 20px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .project_two ul li.item {
        width: 100%;
    }

    .contact_detail .button img {
        margin-bottom: 0;
        width: auto;
        height: auto;
        display: inline-block;
    }

    .recent_post.best_seller ul li .col-sm-5.col-md-5 {
        float: left;
    }

    .comment_form {
        width: 100%;
        margin-bottom: 30px;
    }

    .connected-carousels {
        width: 300px;
        margin: 0 auto;
    }

    .footer_detail {
        padding: 50px 20px;
    }

    .promotion .inner_promotion {
        h5 {
            font-size: 26px;
        }

        .button {
            margin-left: 40px;
        }

        p {
            font-size: 14px;
        }
    }
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
    .department ul li.ui-state-active {
        &:after {
            content: '';
            width: 35px;
            height: 1px;
            background: rgba(255, 255, 255, 0.5);
            display: block;
            position: absolute;
            right: 20px;
            top: 50%;
            margin-top: -1px;
        }

        &:before {
            content: '';
            width: 6px;
            height: 6px;
            background: rgba(255, 255, 255, 0.72);
            display: block;
            border-radius: 50%;
            position: absolute;
            right: 20px;
            top: 50%;
            margin-top: -3.5px;
        }
    }
}

@media (max-width: 991px) {
    .mg-top-40 {
        margin-top: 40px;
    }

    header {
        nav > ul > li {
            padding: 35px 8px;
        }

        form input[type="text"] {
            top: 70%;
        }
    }

    footer.hp5 {
        .footer_bottom p {
            text-align: center;
            padding-left: 0;
            width: 100%;
            padding-right: 0;
        }

        .footer_detail {
            margin-top: 60px;
        }
    }

    .testi_three.st2 p {
        padding-left: 25px;
    }

    .news_wrap.st2 .news {
        margin-bottom: 40px;
    }

    .nurse-img {
        img {
            float: none;
            width: auto;
            max-width: 100%;
        }

        text-align: center;
    }

    .title p br {
        display: none;
    }

    .bfr-slider {
        padding: 0;
    }

    .features-list.left {
        padding-bottom: 60px;
    }

    .team_wrap.st2 .team {
        margin-bottom: 40px;
    }

    .bar_inner ul {
        float: left;
        width: 100%;
        text-align: center;
    }

    .logo {
        float: left;
        width: 100%;
        text-align: center;
        margin-bottom: -25px;

        img {
            max-width: 100%;
            width: auto;
        }
    }

    header .logo a img {
        width: auto;
        max-width: 100%;
    }

    .page_title {
        float: left;
        width: 100%;
    }

    nav, header form {
        margin-top: 0;
    }

    nav ul li {
        padding: 0 10px;

        a {
            font-size: 16px;
        }
    }

    header nav ul li a, .header_bottom nav ul li a {
        font-size: 11px;
    }

    .appt-btn {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }

    .features_three {
        background: #fff;
    }

    .paper {
        margin-bottom: 40px;
    }

    .form-sec .nurse-img {
        margin-top: 30px;
    }

    .single {
        margin-bottom: 40px;
        float: left;
        width: 100%;
    }

    aside {
        float: left;
        width: 100%;
    }

    .stat {
        h3 span, img {
            margin-bottom: 10px;
        }
    }

    .main_slider, .main_info {
        float: left;
        width: 100%;
    }

    .award {
        margin-bottom: 50px;
    }

    .about_imod_two {
        position: relative;
        top: 40px;
    }

    .services_two .service {
        padding: 40px 15px;
        min-height: 360px;
    }

    .top_bar.color-chang .bar_inner {
        text-align: center;

        .text-right {
            text-align: center;
        }

        span {
            margin-bottom: 15px;
            float: left;
            width: 100%;
        }
    }

    nav.st5 ul {
        padding-left: 0;
    }

    header.st5 nav ul li a {
        font-size: 12px;
    }

    .content-data {
        padding-top: 10px;
        padding-left: 25px;

        p {
            font-size: 16px;

            br {
                display: none;
            }
        }
    }

    .cl-info {
        padding: 40px 0;
    }

    .practice-bar {
        margin-bottom: 30px;
    }

    .docy-sec {
        padding: 0;
    }

    .bar_inner ul {
        margin-bottom: 15px;
    }

    .logo {
        margin-bottom: 0;
    }

    .header_bottom nav > ul > li {
        padding: 22px 10px;
    }
}

@media (max-width: 767px) {
    .header ul {
        margin: 20px 0;
    }

    header form {
        margin: 0;
        padding: 15px 0;
    }

    .testi_three.st2 p {
        padding-left: 0;
        padding-top: 15px;
    }

    header form input[type="text"] {
        width: 100% !important;
    }

    .responsive_nav ul li.has-items:before {
        opacity: 1;
        visibility: visible;
    }

    header form {
        position: relative;

        a {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }

    .appt-btn {
        margin-top: 10px;
    }

    .logo {
        margin: 0;
        padding: 10px 0;
    }

    .cart {
        float: left;
        width: 100%;
    }

    .page_title .layer {
        padding: 40px 0;
    }

    article.news h5 {
        font-size: 20px;
    }

    .contact_wrap ul {
        margin-bottom: 30px;
    }

    .error_page img {
        max-width: 70%;
    }

    .title h2 {
        font-size: 30px;
    }

    .project_two ul li.item {
        width: 50%;
        float: left;
    }

    .ser {
        margin-bottom: 40px;
    }

    .service_small {
        width: 100%;
    }

    .downloads ul li {
        margin-bottom: 10px;
    }

    .single .news > img {
        width: 100%;
    }

    .testi {
        width: 100%;
        float: left;
    }

    .ser_inner .detail .con {
        width: 80%;
    }

    .about_img {
        margin-top: 30px;
    }

    .header_bottom form {
        width: 100%;
    }

    .heading p br {
        display: none;
    }

    .header_bottom form input[type="text"] {
        width: 100%;
    }

    .header ul {
        float: left;
        width: 100%;
        text-align: center;

        li {
            margin-right: 30px;
        }
    }

    .services_two .service {
        min-height: auto;
    }

    .responsive_button.mg-top {
        margin-top: 20px;
    }

    .doctor_img {
        display: none;
    }

    .appointment_wrap .inner_appointments {
        padding-bottom: 80px;
    }

    .testi_three .row, .cases_wrap .button {
        margin-bottom: 30px;
    }

    .main_info .info_inner h5 + p {
        margin-bottom: 25px;
    }

    .cl-info h2 {
        font-size: 26px;
    }

    .title.white h2 {
        font-size: 30px;
        line-height: 36px;

        br {
            display: none;
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 700px) {
    .department .tabss img {
        display: none;
    }

    .promotion .inner_promotion {
        p {
            font-size: 14px;
        }

        h5 {
            font-size: 24px;
        }
    }

    .footer_bottom {
        padding-bottom: 30px;
    }

    .footer_detail {
        padding: 50px 20px;

        span br {
            display: none;
        }
    }

    .testi {
        margin-bottom: 44px;
    }

    .top_bar ul li {
        margin-bottom: 10px;
    }

    .cart {
        text-align: center;
        margin: 0 0 10px;
    }

    .features_wrap div.col-sm-6 {
        overflow: hidden;
    }

    .stat h3 {
        font-size: 18px;
        line-height: 36px;
        vertical-align: top;
    }

    .team figure {
        img {
            width: 100%;
            height: auto;
        }

        position: relative;
        height: auto;
    }

    .test_slider {
        width: 90% !important;
        margin: 0 auto;

        > div {
            width: 100% !important;
        }
    }

    .news {
        .col-sm-4.col-md-4 {
            width: 30%;
            float: left;
        }

        h5 {
            line-height: 25px;
        }
    }

    .footer_detail .button {
        display: inline-block;
    }

    .meta ul li {
        margin-bottom: 5px;
    }

    .team_wrap .team {
        width: 50%;
        float: left;
    }

    .boxed_size {
        padding: 0 10px;

        .inner_box {
            width: 100%;
        }
    }

    .connected-carousels {
        width: 300px;
        margin: 0 auto;
    }

    .responsive_button {
        display: block;
    }

    .responsive_nav.navbar-collapse {
        margin-bottom: 10px;
    }

    .top_bar .bar_inner {
        .button {
            display: inline-block;
        }

        border-bottom: 1px solid #eee;
        height: auto;
        line-height: 30px;
        text-align: center;
        padding: 10px 0;

        div {
            text-align: center;
        }
    }

    header {
        .logo {
            text-align: center;
            margin-bottom: 10px;

            a img {
                width: auto;
            }
        }

        height: auto;
        line-height: normal;
        padding: 10px 0 0;
    }

    .my-selector a {
        margin-bottom: 10px;
    }

    header form {
        width: 100%;
        margin-bottom: 10px;

        a {
            i {
                color: #fff;
            }

            background: #000;
            height: 38px;
            display: inline-block;
            vertical-align: middle;
            line-height: 37px;
            text-align: center;
            width: 38px;
            margin-left: -5px;
        }

        input[type="text"] {
            position: static;
            visibility: visible;
            width: 85%;
            border: 2px solid #000;
            border-radius: 0;
        }
    }

    .header {
        height: auto;
        text-align: center;
        padding: 0 0 12px;

        div {
            text-align: center;
            line-height: normal;
        }

        ul {
            text-align: center;
        }

        .button {
            display: inline-block;
        }

        ul li {
            text-align: left;
        }
    }

    nav {
        display: none;
    }

    .slide_content {
        .iner_content {
            display: none;
        }

        h1 {
            font-size: 18px;
            line-height: normal;
        }

        padding-top: 64px;
    }

    .main_slider {
        height: 500px;

        img {
            height: 500px;
        }
    }

    .main_info {
        .info_inner {
            padding: 55px 20px;
        }

        background-size: 300px;
        padding-bottom: 7px;
    }

    .features_wrap .feature_img img {
        margin: 0;
        width: 100%;
        margin-bottom: 12px;
    }

    .feature i {
        margin-bottom: 76px;
    }

    .heading {
        padding: 0 10px;
    }

    .stat {
        margin-bottom: 10px;
    }

    .team_wrap .team {
        .details {
            background: #fff;
        }

        margin-bottom: 15px;
    }

    .testi_d {
        margin-bottom: 64px;
    }

    .award {
        margin-bottom: 50px;
    }

    .footer_detail {
        padding: 20px;
    }

    .footer_bottom p {
        color: #ccc;
        line-height: 27px;
        margin-top: 16px;
    }

    .about_imod .about_img figure {
        width: 100%;
        height: auto;
    }

    .features_three {
        .detld {
            padding: 20px;
        }

        background-image: none;
    }

    .promotion .inner_promotion span {
        margin: 0;
    }

    .team_wrap.team_two .team {
        margin-bottom: 15px;
    }

    .contact_detail {
        .address {
            width: 100%;
            padding: 10px !important;
        }

        img {
            width: 100%;
            margin: 0 auto;
            display: block;
        }
    }

    .maped_detail span strong {
        font-size: 25px;
    }

    article.news figure {
        height: auto;
    }

    .recent_post ul li {
        margin-bottom: 20px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .contact_detail .button img {
        margin-bottom: 0;
        width: auto;
        height: auto;
        display: inline-block;
    }

    .recent_post.best_seller ul li .col-sm-5.col-md-5 {
        float: left;
    }

    .comment_form {
        width: 100%;
        margin-bottom: 30px;
    }

    .shop_wrap .heading {
        text-align: center;

        form {
            float: none;
            margin: 0 auto 10px;
        }
    }

    .header_bottom {
        margin-bottom: 10px;
    }

    .promotion .inner_promotion span {
        width: 100%;
        margin-bottom: 20px;
    }

    .feature_img img {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .title.white h2 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    /* ================ heading spa ================== */

    .heading_spa {
        span.cursive {
            font-family: 'Cedarville Cursive', cursive;
            color: #2fc0df;
            font-size: 50px;
            position: absolute;
            left: 0;
            right: 0;
            top: 60px;
            opacity: .4;
        }

        h1 {
            font-weight: 600;
            color: #222;
            z-index: 99999;
            position: relative;
            font-size: 30px;
        }

        span.cursive.specialized {
            top: 55px;
            font-size: 36px;
        }
    }

    .heading.heading_spa p {
        color: #222;
    }

    .spa_testi {
        .test_slider {
            width: 93% !important;
            margin: 0 auto;
        }

        .testi_d {
            padding: 60px 15px;
        }
    }

    .team_wrap {
        margin-bottom: 118px;
    }

    .natural_product {
        height: auto;
        padding-bottom: 50px;
    }

    .heading_spa.white {
        p {
            color: #ffffff;
        }

        h1 {
            font-weight: 600;
            color: #ffffff;
            z-index: 99999;
            position: relative;
            font-size: 30px;
        }
    }

    .spa_filter .heading_spa span.cursive {
        font-size: 50px;
        top: -30px;
    }

    .consult_wrap {
        .table-cell {
            display: inline-block;
        }

        h1 {
            font-size: 24px;
            margin-top: 15px;
            margin-left: 0;
        }

        h4 {
            margin-left: 0;
        }
    }

    .heading_spa.white span.cursive {
        color: #ffffff;
        top: 80px;
    }

    .btn_lines {
        display: none;
    }

    .img_border {
        border: 5px solid #e16297;
        width: 300px;
        height: 250px;
        position: absolute;
        border-radius: 5px;
    }

    .about_details h1 {
        font-size: 24px;
    }

    .about_inner .inner_wrapper img {
        margin-bottom: 50px;
    }

    .natural_product .inner_wrapper img {
        width: 100%;
    }

    /* ================ heading spa ================== */

    .promotion .inner_promotion {
        p {
            font-size: 14px;
        }

        span {
            margin-bottom: 15px;
        }
    }

    .footer_bottom {
        padding-bottom: 30px;
    }

    .fl-wdth {
        width: 100%;
    }

    .footer_detail span br {
        display: none;
    }

    .title h2 {
        line-height: 37px;
        margin-bottom: 15px;
    }

    .header_bottom, .options ul li {
        margin-bottom: 10px;
    }

    footer.hp5 .footer_detail {
        margin-top: 60px;
    }

    .heading p br {
        display: none;
    }

    .shop_wrap .heading {
        text-align: center;

        form {
            float: none;
            margin: 0 auto 10px;
        }
    }

    .testi {
        margin-bottom: 44px;
    }

    .recent_post.best_seller ul li .col-sm-5.col-md-5 {
        float: left;
    }

    .top_bar ul li {
        margin-bottom: 10px;
    }

    .cart {
        text-align: center;
        margin: 0 0 10px;
    }

    .features_wrap div.col-sm-6 {
        overflow: hidden;
    }

    .stat h3 {
        font-size: 18px;
        line-height: 36px;
        vertical-align: top;
    }

    .team figure {
        img {
            width: 100%;
            height: auto;
        }

        position: relative;
        height: auto;
    }

    .test_slider {
        width: 90% !important;
        margin: 0 auto;

        > div {
            width: 100% !important;
        }
    }

    .news {
        figure {
            margin-bottom: 20px;

            img {
                height: auto;
            }
        }

        .col-sm-4.col-md-4 {
            width: 100%;
            float: left;
        }

        h5 {
            line-height: 25px;
        }
    }

    .footer_detail .button {
        display: inline-block;
    }

    .meta ul li {
        margin-bottom: 5px;
    }

    .boxed_size {
        padding: 0 10px;

        .inner_box {
            width: 100%;
        }
    }

    .connected-carousels {
        width: 300px;
        margin: 0 auto;
    }

    .responsive_button {
        display: block;
    }

    .responsive_nav.navbar-collapse {
        margin-bottom: 10px;
    }

    .top_bar .bar_inner {
        .button {
            display: inline-block;
        }

        border-bottom: 1px solid #eee;
        height: auto;
        line-height: 30px;
        text-align: center;
        padding: 10px 0;

        div {
            text-align: center;
        }
    }

    header {
        .logo {
            text-align: center;
            margin-bottom: 10px;

            a img {
                width: auto;
            }
        }

        height: auto;
        line-height: normal;
        padding: 10px 0 0;
    }

    .my-selector a {
        margin-bottom: 10px;
    }

    header form {
        width: 100%;
        margin-bottom: 10px;

        a {
            i {
                color: #fff;
            }

            background: #000;
            height: 38px;
            display: inline-block;
            vertical-align: middle;
            line-height: 37px;
            text-align: center;
            width: 38px;
            margin-left: -5px;
        }

        input[type="text"] {
            position: static;
            visibility: visible;
            width: 85%;
            border: 2px solid #000;
            border-radius: 0;
        }
    }

    article.news h5 {
        font-size: 16px;
    }

    .header {
        height: auto;
        text-align: center;
        padding: 0 0 12px;

        div {
            text-align: center;
            line-height: normal;
        }

        ul {
            text-align: center;
        }

        .button {
            display: inline-block;
        }

        ul li {
            text-align: left;
        }
    }

    nav {
        display: none;
    }

    .slide_content {
        .iner_content {
            display: none;
        }

        h1 {
            font-size: 18px;
            line-height: normal;
        }

        padding-top: 64px;
    }

    .main_slider {
        height: 500px;

        img {
            height: 500px;
        }
    }

    .main_info {
        .info_inner {
            padding: 55px 20px;
        }

        background-size: 300px;
        padding-bottom: 7px;
    }

    .features_wrap .feature_img img {
        margin: 0;
        width: 100%;
        margin-bottom: 12px;
        display: none;
    }

    .feature i {
        margin-bottom: 76px;
    }

    .heading {
        padding: 0 10px;
    }

    .stat {
        margin-bottom: 10px;
    }

    .cl-info h2 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .team_wrap .team {
        .details {
            background: #fff;
        }

        margin-bottom: 15px;
    }

    .testi_d {
        margin-bottom: 64px;
    }

    .award {
        margin-bottom: 30px;
    }

    .footer_detail {
        padding: 50px 20px;
    }

    .footer_bottom p {
        color: #ccc;
        line-height: 27px;
        margin-top: 16px;
    }

    .about_imod .about_img figure {
        width: 100%;
        height: auto;
    }

    .features_three {
        .detld {
            padding: 20px;
        }

        background-image: none;
    }

    .promotion .inner_promotion span {
        margin: 10px;
    }

    .team_wrap.team_two .team {
        margin-bottom: 15px;
    }

    .promotion .inner_promotion h5 {
        font-size: 18px;
        margin-bottom: 10px;
        line-height: 24px;
    }

    .contact_detail {
        .address {
            width: 100%;
            padding: 10px !important;
        }

        img {
            width: 100%;
            margin: 0 auto;
            display: block;
        }
    }

    .maped_detail span strong {
        font-size: 25px;
    }

    article.news figure {
        height: auto;
    }

    .recent_post ul li {
        margin-bottom: 20px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .project_two ul li.item {
        width: 100%;
    }

    .contact_detail .button img {
        margin-bottom: 0;
        width: auto;
        height: auto;
        display: inline-block;
    }

    .error_page img {
        max-width: 70%;
    }

    .news h5 {
        font-size: 14px;
    }

    .page_title h1 {
        font-size: 28px;
    }

    .comment_form {
        width: 100%;
        margin-bottom: 30px;
    }

    .promotion .inner_promotion span {
        font-size: 14px;
    }

    .department .tabss img, .feature_img img {
        display: none;
    }

    .feature h5 {
        font-size: 15px;
    }

    .stat img {
        max-width: 18%;
        margin-right: 7px;
    }

    .heading h3 {
        font-size: 24px;
    }

    .recent_post ul li {
        p, span {
            padding-left: 25px;
        }
    }

    .testi_d {
        padding: 60px 15px;
    }

    .full-wdth {
        width: 100%;
    }

    .recent_post.best_seller ul li span {
        padding-left: 25px;
    }

    .stat h3 {
        span {
            font-size: 16px;
            margin-bottom: 0;
        }

        font-size: 16px;
    }

    .qnt {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .shop_detail .qnt p a {
        float: left;
        width: 100%;
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .single .social_icon span {
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }

    .testi_inner .heading h3 {
        font-size: 30px;
    }

    .tc {
        float: left;
        width: 100%;
        text-align: center;
    }

    .ser_inner .detail .con {
        width: 100%;
    }

    .header ul li {
        margin-bottom: 10px;
    }

    .home_twos .slide_content {
        padding-top: 80px;
    }

    input.button {
        margin-bottom: 10px;
    }

    .content-data {
        padding: 0 20px;
    }
}

@media (max-width: 1230px) {
    .hp6-nav {
        padding-left: 35px;
    }

    .address-info {
        padding-left: 45px;
    }
}

@media (max-width: 1200px) {
    .iner_content {
        margin-top: 30px;
        position: static;
        width: 100%;

        .button {
            float: right;
        }
    }

    .about_imod .about_img figure {
        margin-top: 30px;
    }

    .meta {
        margin-bottom: 10px;
    }

    .maped_detail.contact_detail .address {
        width: 100%;
    }

    .cntct-form {
        .title.ta-left {
            margin-bottom: 30px;
        }

        .forms-fiedls form button {
            font-size: 12px;
        }
    }

    .recent_post.best_seller ul li img {
        width: 100%;
        height: auto;
    }

    .heading h3 {
        font-size: 28px;
    }

    /*.shop {height: 500px;}*/

    .shop_cates li div {
        padding: 30px 20px;
    }

    .contact_detail .button img {
        width: auto;
    }

    .counter-info {
        padding-left: 12px;
        padding-top: 15px;

        h3 {
            font-size: 30px;
        }

        h4 {
            font-size: 12px;
        }
    }

    .widget-about {
        padding-bottom: 190px;
    }
}

@media (max-width: 991px) {
    .info_inner .col-sm-5 {
        width: 100%;
    }

    .main_info .info_inner {
        strong, h4 {
            margin-top: 25px;
        }
    }

    .detail p {
        font-size: 13px;
    }

    .feature h5 {
        margin-bottom: 8px;
    }

    .bar_inner .row .col-sm-12.col-md-4.text-right {
        width: 66%;
    }

    .about_imod {
        padding: 50px 0;
    }

    .services_two .service h5 {
        font-size: 15px;
    }

    .promotion .inner_promotion h5 {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .appointment_wrap .inner_appointments {
        padding-bottom: 50px;
    }

    .doctor_img {
        display: none;
    }

    .inner_appointments .col-sm-7.col-md-7 {
        width: 100%;
    }

    .testi_three p {
        padding-left: 30px;
    }

    .stat {
        text-align: left;
    }

    .promotion .inner_promotion {
        h5 {
            font-size: 21px;
        }

        p {
            font-size: 15px;
            margin-bottom: 25px;
        }
    }

    header nav.st5 > ul > li {
        padding: 35px 7px;
    }

    nav.st5 {
        width: 98%;
    }

    .nurse-img {
        display: none;
    }

    .cntct-form {
        padding-bottom: 50px;
    }

    .recent_post.best_seller ul li img {
        width: 88px;
        height: 80px;
    }

    .shop_wrap.section_margin {
        .col-sm-9.col-md-9, .col-sm-3.col-md-3 {
            width: 100%;
        }
    }

    .side_widget {
        margin-top: 50px;
    }

    .comment_form {
        width: 100%;
    }

    .address-info ul li:last-child {
        margin-right: 0;
    }

    .appointment-lnk {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }

    .address-info {
        float: right;
        padding-left: 20px;
    }

    .hp6-nav {
        display: none;
    }

    .pt-service {
        h3 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
            line-height: 22px;
        }
    }

    .dis-none {
        display: none;
    }

    .counter-item {
        margin-bottom: 25px;
    }

    .counter-section .row {
        margin-bottom: -25px;
        float: left;
        width: 100%;
    }

    .counter-info {
        padding-top: 8px;
        padding-left: 20px;
    }

    .choose-img {
        margin-bottom: 40px;
    }

    .blog_post {
        margin-bottom: 50px;
    }

    .blog-posts-sec {
        margin-bottom: -50px;
    }

    .review-slide {
        padding: 0 80px;
    }

    .widget {
        border-right: 0;
    }

    .widget-about, .widget {
        padding-bottom: 0;
    }

    .widget-tweets {
        padding-left: 0;
        padding-right: 0;

        ul li > b {
            text-align: left;
        }
    }

    .widget-guide {
        text-align: left;
    }

    .about-st6 {
        background: #dbdddc;
    }
}

@media (max-width: 768px) {
    .tabs img {
        width: 100%;
    }

    .features_wrap .feature_img img {
        display: none;
    }

    .meta {
        margin-bottom: 10px;
    }

    .bar_inner .row .col-sm-12.col-md-4.text-right {
        width: 100%;
    }

    .feature i {
        margin-bottom: 0;
        margin-top: 5px;
    }

    .department .tabss p {
        padding: 0;
    }

    .ser_inner .detail .con {
        margin-top: 15px;
    }

    .stat h3 span {
        margin-bottom: 0;
    }

    .testi_three p {
        padding-left: 0;
        padding-top: 10px;
    }

    .social_links {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .address-info {
        width: 100%;
        padding: 0;
    }

    .widget-about {
        padding-right: 0;
    }

    .review-slide {
        padding: 0;
    }
}

@media (max-width: 576px) {
    .ser_inner .detail .sicon_three {
        position: relative;
        top: 20px;
    }

    .team .details h6 {
        margin-bottom: 8px;
    }

    .col-sm-6.col-md-6.col-xs-6.full-wdth.text-right {
        text-align: left;
    }

    .main_info .info_inner h5 + p br {
        display: none;
    }

    .social {
        margin-bottom: 30px;
    }

    .main_info .info_inner {
        span {
            margin-bottom: 10px;
        }

        h5 {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }

    .info_inner .col-sm-5 {
        padding: 0;
    }

    .detail {
        float: left;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .stat {
        float: left;
        width: 100%;

        h3 {
            float: left;
            width: 100%;
        }
    }

    .about_imod_two ul li {
        line-height: 30px;
    }

    .promotion .inner_promotion {
        h5 {
            font-size: 20px;
            line-height: 30px;
        }

        strong {
            margin-right: 10px;
        }
    }

    .why_us #accordion h3 {
        font-size: 14px;
    }

    .col-sm-6.col-md-6.col-xs-6.text-right {
        width: 100%;
        float: left;
        text-align: left;
    }

    .iner_content .button {
        float: left;
    }

    .feature {
        float: left;
        width: 100%;
    }

    .recent_post.best_seller ul li img {
        width: 75px;
    }

    .contact_wrap ul li {
        strong {
            font-size: 12px;
        }

        padding: 11px 0px 11px 10px;
    }

    .address-info ul li {
        margin-right: 0;
        float: left;
        width: 100%;
        display: block;
    }

    .bt_logo {
        &:before {
            display: none;
        }

        width: 190px;
    }

    .top-bar {
        display: block;
    }

    .title2 h2 {
        font-size: 30px;
        line-height: 38px;
    }

    .props-links li {
        width: 100%;
        margin-bottom: 30px;
    }

    .ch-title h3 {
        font-size: 28px;
    }

    .toggle-item h2 {
        padding: 0 15px;
        font-size: 12px;
    }

    .heading3 p br {
        display: none;
    }

    .post-links ul li {
        margin-right: 7px;
    }

    .review-slide p {
        font-size: 14px;
    }
}
