.cd-top{background:#415aac}.top_bar ul li i{color:#415aac}header nav ul li a.active,.header_bottom nav ul li a.active,.title h2 span,.practice-bar ul li a:before,.featur:after,.options ul li.active a,.news_wrap.st2 .meta ul li a,.news_wrap.st2 .meta ul li span,.heading.hp5 h3 span,.practice-bar figure i{color:#3cc7bd}.forms-fiedls form button,footer.hp5 .button,.title:before,.testi_three.st2 .heading:after,.testi_three.st2 p:before, .responsive_nav ul li a:hover{background-color:#3cc7bd}nav ul li ul.dropdown-menu li a:hover,.responsive_button{background:#3cc7bd}.icon1{background-image:url(../../image/icon1_1.png)}.icon2{background-image:url(../../image/icon2_1.png)}.icon3{background-image:url(../../image/icon3_1.png)}.icon4{background-image:url(../../image/icon4_1.png)}.button{background:#3cc7bd}.button.blue{background:#415aac}.button:hover{background:#415aac}.button.blue:hover{background:#3cc7bd;border-color:#3cc7bd}header form a i{color:#3cc7bd}header form input[type="text"]{border-color:#3cc7bd}.slide_content,.about_imod .about_img figure,.feature_two .feature figure,.services_two .service:hover,.side_widget > ul > li a:hover,.side_widget > ul > li a.active,.layer,.tp-bgimg.defaultimg:before{background:rgba(60,199,190,1);background:-moz-linear-gradient(left,rgba(60,199,190,1) 0%,rgba(60,199,190,0.89) 36%,rgba(65,90,172,0.8) 66%,rgba(65,90,172,0.7) 100%);background:-webkit-gradient(left top,right top,color-stop(0%,rgba(60,199,190,1)),color-stop(36%,rgba(60,199,190,0.89)),color-stop(66%,rgba(65,90,172,0.8)),color-stop(100%,rgba(65,90,172,0.7)));background:-webkit-linear-gradient(left,rgba(60,199,190,1) 0%,rgba(60,199,190,0.89) 36%,rgba(65,90,172,0.8) 66%,rgba(65,90,172,0.7) 100%);background:-o-linear-gradient(left,rgba(60,199,190,1) 0%,rgba(60,199,190,0.89) 36%,rgba(65,90,172,0.8) 66%,rgba(65,90,172,0.7) 100%);background:-ms-linear-gradient(left,rgba(60,199,190,1) 0%,rgba(60,199,190,0.89) 36%,rgba(65,90,172,0.8) 66%,rgba(65,90,172,0.7) 100%);background:linear-gradient(to right,rgba(60,199,190,1) 0%,rgba(60,199,190,0.89) 36%,rgba(65,90,172,0.8) 66%,rgba(65,90,172,0.7) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3cc7be',endColorstr='#415aac',GradientType=1)}.main_info .info_inner h4{color:#3cc7bd}.main_info .info_inner h5,.cl-info h2 span{color:#415aac}.heading h3 span,footer.hp5 .footer_detail ul li i{color:#3cc7bd}.heading:after,.footer_widget h4:after{background:#415aac}.side_widget .heading_c:after,.heading.hp5:after,.cd-top.st2{background:#3cc7bd}.department .inner_dep,.testi_inner{background:rgba(66,200,192,0.82)}.department ul li.ui-state-active a i span,.department ul li:hover a i span{background:url(../../image/diagnostic_icon_hover_g.png) no-repeat}.department ul li a i.icon_two span{background-position:0 -38px}.department ul li a i.icon_three span{background-position:-1px -77px}.department ul li a i.icon_four span{background-position:-1px -115px}.ser_inner .detail i{background:url(../../image/ser_icon_g.png) no-repeat}.ser_inner .detail .sicon_two{background-position:-51px 0}.ser_inner .detail .sicon_three{background-position:-102px 0;width:54px}.ser_inner .detail .sicon_four{background-position:-157px 0}.team .details span,.award > a,.meta ul li a,.meta ul li span,.feature_two .feature .detail> a{color:#3cc7bd}.footer_detail ul li i{color:#415aac}.header_bottom{background:#415aac}.header_bottom form input[type="text"]{background:#2a3b73}.header_bottom form a{background:#304a9e}.slide_content .iner_content h4{color:#415aac}.promotion .inner_promotion,.promotion.st2 .inner_promotion{background:rgba(119,136,196,0.83)}.contact_detail .address,.side_widget form button{background:#46cac1}.maped_detail.contact_detail .address.pink,footer.hp5 .footer_widget h4:after{background:#6e81c0}.side_widget .inner_widgets span{background:url(../../image/quotes_g.png) no-repeat right center}.item_inner .overlay{background:rgba(114,132,194,0.75)}.appointment_wrap .inner_appointments{background:rgba(121,138,197,0.92)}.shop_wrap .price p strong{color:#46cac1}.shop_wrap .star i{color:#6f81c0}div#slider-range span{background:#44c9c1}.recent_post ul li span{color:#49cbc3}.shop span{color:#6c7fbf}.shop .button:hover,.shop:hover .button{background:#42c8c0;border-color:#46cac1}.shop_cates li div h3{color:#4dccc4}.shop_cates li div a i{color:#6f81c0}


.botom-bar,
.appointment-lnk a,
.pt-service:hover,
.post-date,
.client-review-carousel .owl-dot.active,
.widget-about form button,
.counter-section:before {
	background-color: #415aac;
}
.header_bottom nav ul li a:hover{color: #3cc7bd;}
header nav ul li a:hover {
    color: #3cc7bd;
}
.service-info i,
.toggle-item h2:before,
.post-links ul li i,
.post-links > a,
.widget-tweets ul li a,
.title2 h2 span,
.heading2 h3,
.heading3 h3 {
	color: #415aac;
}
.service-info i {
	border-color: #415aac;
}
.footer_widget .social a:hover {
    border: 0px;
    background: #415aac;
}
.spa-slider .lyr4 {background-color: #415aac; color: #fff; border: 1px solid #415aac; }
.spa-slider .lyr4:hover {background-color: transparent; color: #415aac; }