.cd-top {
    background: #f7931e;
}
.top_bar ul li i {
    color: #f7931e;
}
header nav ul li a.active, .header_bottom nav ul li a.active, .practice-bar figure i {
    color: #2fc0df;
}
nav ul li ul.dropdown-menu li a:hover {
    background: #2fc0df;
}
.button.blue {
    background: #f7931e;
}
.button:hover {
    background: #2fc0df;
}
.button.blue:hover {
    background: #2fc0df;
    border-color: #2fc0df;
}
header form a i, .cl-info h2 span, .title h2 span, .practice-bar ul li a:before, .doctors-sec, .featur:after, .options ul li.active a, .news_wrap.st2 .meta ul li a, .news_wrap.st2 .meta ul li span, .heading.hp5 h3 span {
    color: #2fc0df;
}
.icon1 {
    background-image: url(../../image/icon1_3.png);
}
.icon2 {
    background-image: url(../../image/icon2_3.png);
}
.icon3 {
    background-image: url(../../image/icon3_3.png);
}
.icon4 {
    background-image: url(../../image/icon4_3.png);
}
.ser_inner .detail i{
        background: url(../../image/ser_icon_g.png) no-repeat;
}
a:hover {
    color: #f7931e;
}
.footer_widget .social a:hover {
    border: 0px;
    background: #f7931e;
}
.footer_widget h4:after {
    background: #f7931e;
}
.award > a {
    color: #2fc0df;
    text-decoration: underline;
}
.meta ul li a {
    color: #2fc0df;
}

.meta ul li span {
    color: #2fc0df;
}

.team figure .innner_lay {
    background: rgba(247,  147, 30, 0.89);
}

header form input[type="text"] {
    border-color: #f7931e;
}
.slide_content, .about_imod .about_img figure, .feature_two .feature figure, .services_two .service:hover, .side_widget > ul > li a:hover, .side_widget > ul > li a.active, .layer, .tp-bgimg.defaultimg:before {
    background: rgba(247,  147,  30);
    background: -moz-linear-gradient(left, rgba(247,  147,  30) 0%, rgba(247,  147, 30, 0.89) 36%, rgba(47,  192,  223,  0.7) 66%, rgba(47,  192,  223,  0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247,  147,  30)), color-stop(36%, rgba(247,  147, 30, 0.89)), color-stop(66%, rgba(47,  192,  223,  0.7)), color-stop(100%, rgba(47,  192,  223,  0.7)));
    background: -webkit-linear-gradient(left, rgba(247,  147,  30) 0%, rgba(247,  147, 30, 0.89) 36%, rgba(47,  192,  223,  0.7) 66%, rgba(47,  192,  223,  0.7) 100%);
    background: -o-linear-gradient(left, rgba(247,  147,  30) 0%, rgba(247,  147, 30, 0.89) 36%, rgba(47,  192,  223,  0.7) 66%, rgba(47,  192,  223,  0.7) 100%);
    background: -ms-linear-gradient(left, rgba(247,  147,  30) 0%, rgba(247,  147, 30, 0.89) 36%, rgba(47,  192,  223,  0.7) 66%, rgba(47,  192,  223,  0.7) 100%);
    background: linear-gradient(to right, rgba(247,  147,  30) 0%, rgba(247,  147, 30, 0.89) 36%, rgba(47,  192,  223,  0.7) 66%, rgba(47,  192,  223,  0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf3182', endColorstr='#ee8457', GradientType=1);
}
.main_info .info_inner h4 {
    color: #2fc0df;
}
.main_info .info_inner h5, footer.hp5 .footer_detail ul li i {
    color: #f7931e;
}
.heading h3 span {
    color: #2fc0df;
}
.heading:after, footer.hp5 .footer_widget h4:after, .cd-top.st2 {
    background: #f7931e;
}
.department .inner_dep, .testi_inner {
    background: rgba(247,  147,  30, 0.89);
}
.footer_detail ul li i {
    color: #f7931e;
}
.header_bottom {
    background: #f7931e;
}
.header_bottom form input[type="text"] {
    background: #2fc0df;
}
.header_bottom form a {
    background: #dd7a08;
}
.top_bar.color-chang {
    background-color: #f7931e;
}
.lyr4.cl {
    background-color: #f7931e;
    color: #fff;
    border: none;
}

.slide_content .iner_content h4 {
    color: #f7931e;
}
.appointment_wrap .inner_appointments, .promotion.st2 .inner_promotion {
    background: rgba(247, 147, 30, 0.89);
}

.hp6-nav ul ul li {
    background-color: #f7931e;
    padding: 10px;
}
.hp6-nav ul ul li a:hover{
    color: #2fc0df;
}
.contact_detail .address, .side_widget form button, .forms-fiedls form button, footer.hp5 .button, .testi_three.st2 .heading:after, .title:before, .heading.hp5:after, .testi_three.st2 p:before {
    background: #2fc0df;
}
.side_widget .heading_c:after {
    background: #f7931e;
}
.shop .button:hover, .shop:hover .button {
    background: #f7931e;
    border-color: #f7931e;
}
.maped_detail.contact_detail .address.pink {
    background: #f7931e;
}
.shop_wrap .price p strong {
    color: #2fc0df;
}
.shop_wrap .star i {
    color: #f2a07d;
}
div#slider-range span {
    background: #f09a79;
}
.recent_post ul li span {
    color: #d13a87;
}
.shop span {
    color: #f1a17e;
}
.shop_cates li div h3 {
    color: #d13a87;
}
.shop_cates li div a i {
    color: #f2a482;
}


.botom-bar, 
.appointment-lnk a, 
.pt-service:hover, 
.post-date, 
.client-review-carousel .owl-dot.active, 
.widget-about form button, 
.counter-section:before, 
.responsive_button, 
.responsive_nav ul li a:hover  {
    
	background-color:  #f7931e;
    
}
header nav ul li a: hover {
    
    color:   #2fc0df;
    
}
.button {
    
	background-color:  #f7931e;
    
}
.button: hover {
    
	background-color:  #2fc0df;
    
}
.header_bottom nav ul li a: hover {
    color:   #2fc0df;
}

.service-info i, 
.toggle-item h2:before, 
.post-links ul li i, 
.post-links > a, 
.widget-tweets ul li a, 
.title2 h2 span, 
.heading2 h3, 
.heading3 h3  {
    
	color:  #f7931e;
    
}
.service-info i  {
    
	border-color:  #f7931e;
    
}
.team_wrap.st2 .team figure .innner_lay {
    
     background: rgba(247, 147, 30, 0.89);
}

.spa-slider .lyr4 {background-color: #f7931e; color: #fff; border: 1px solid #f7931e; }
.spa-slider .lyr4:hover {background-color: transparent; color: #f7931e; }