.cd-top{background:#ffe1d8}.top_bar ul li i{color:#ffe1d8}header nav ul li a.active,.header_bottom nav ul li a.active{color:#635eaa}nav ul li ul.dropdown-menu li a:hover{background:#635eaa}.button,.promotion.st2 .inner_promotion{background:#635eaa}.button.blue{background:#ffe1d8}.button:hover{background:#ffe1d8}.button.blue:hover{background:#635eaa;border-color:#635eaa}.icon1{background-image:url(../../image/icon1_2.png)}.icon2{background-image:url(../../image/icon2_2.png)}.icon3{background-image:url(../../image/icon3_2.png)}.icon4{background-image:url(../../image/icon4_2.png)}header form a i,.practice-bar figure i{color:#635eaa}header form input[type="text"]{border-color:#635eaa}.slide_content,.about_imod .about_img figure,.feature_two .feature figure,.services_two .service:hover,.side_widget > ul > li a:hover,.side_widget > ul > li a.active,.layer,.tp-bgimg.defaultimg:before{background:rgba(6,52,234,1);background:-moz-linear-gradient(left,rgba(6,52,234,1) 0%,rgba(6,52,234,0.89) 36%,rgba(255,225,216,0.8) 66%,rgba(255,225,216,0.7) 100%);background:-webkit-gradient(left top,right top,color-stop(0%,rgba(6,52,234,1)),color-stop(36%,rgba(6,52,234,0.89)),color-stop(66%,rgba(255,225,216,0.8)),color-stop(100%,rgba(255,225,216,0.7)));background:-webkit-linear-gradient(left,rgba(6,52,234,1) 0%,rgba(6,52,234,0.89) 36%,rgba(255,225,216,0.8) 66%,rgba(255,225,216,0.7) 100%);background:-o-linear-gradient(left,rgba(6,52,234,1) 0%,rgba(6,52,234,0.89) 36%,rgba(255,225,216,0.8) 66%,rgba(255,225,216,0.7) 100%);background:-ms-linear-gradient(left,rgba(6,52,234,1) 0%,rgba(6,52,234,0.89) 36%,rgba(255,225,216,0.8) 66%,rgba(255,225,216,0.7) 100%);background:linear-gradient(to right,rgba(6,52,234,1) 0%,rgba(6,52,234,0.89) 36%,rgba(255,225,216,0.8) 66%,rgba(255,225,216,0.7) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0634ea',endColorstr='#ffe1d8',GradientType=1)}.main_info .info_inner h4,.cl-info h2 span,.practice-bar ul li a:before,.featur:after,.options ul li.active a,.news_wrap.st2 .meta ul li a,.news_wrap.st2 .meta ul li span,.title h2 span,.heading.hp5 h3 span{color:#635eaa}.forms-fiedls form button,footer.hp5 .button,.title:before,footer.hp5 .footer_widget h4:after,.cd-top.st2,.testi_three.st2 p:before{background-color:#635eaa}.main_info .info_inner h5{color:#ffe1d8}.heading h3 span,footer.hp5 .footer_detail ul li i{color:#635eaa}.heading:after,.footer_widget h4:after{background:#ffe1d8}.side_widget .heading_c:after,.heading.hp5:after{background:#635eaa}.department .inner_dep,.testi_inner{background:rgba(16,60,235,0.82)}.department ul li.ui-state-active a i span,.department ul li:hover a i span{background:url(../../image/diagnostic_icon_hover_p.png) no-repeat}.department ul li a i.icon_two span{background-position:0 -38px}.department ul li a i.icon_three span{background-position:-1px -77px}.department ul li a i.icon_four span{background-position:-1px -115px}.ser_inner .detail i{background:url(../../image/ser_icon_p.png) no-repeat}.ser_inner .detail .sicon_two{background-position:-51px 0}.ser_inner .detail .sicon_three{background-position:-102px 0;width:54px}.ser_inner .detail .sicon_four{background-position:-157px 0}.team .details span,.award > a,.meta ul li a,.meta ul li span,.feature_two .feature .detail> a{color:#635eaa}.footer_detail ul li i{color:#ffe1d8}.header_bottom{background:#ffe1d8}.header_bottom form input[type="text"]{background:#e6c6bd}.header_bottom form a{background:#deac9e}.slide_content .iner_content h4{color:#ffe1d8}.promotion .inner_promotion{background:rgba(255,233,227,0.85)}.contact_detail .address,.side_widget form button{background:#635eaa}.maped_detail.contact_detail .address.pink{background:#ffe1d8}.side_widget .inner_widgets span{background:url(../../image/quotes_p.png) no-repeat right center}.item_inner .overlay,.appointment_wrap .inner_appointments{background:rgba(255,233,227,0.82)}.shop_wrap .price p strong{color:#635eaa}.shop_wrap .star i{color:#ffe9e2}div#slider-range span{background:#ffe8e1}.recent_post ul li span{color:#103ceb}.shop span{color:#1c46ec}.shop .button:hover,.shop:hover .button{background:#ffe8e1;border-color:#ffe9e3}.shop_cates li div h3{color:#1e47ec}.shop_cates li div a i{color:#ffeae4}

.botom-bar,
.appointment-lnk a,
.pt-service:hover,
.post-date,
.client-review-carousel .owl-dot.active,
.widget-about form button,
.counter-section:before,
.responsive_button,
.responsive_nav ul li a:hover {
	background-color: #635eaa;
}
.header_bottom nav ul li a:hover{color: #635eaa;}
header nav ul li a:hover{
    color: #635eaa;
}
.service-info i,
.toggle-item h2:before,
.post-links ul li i,
.post-links > a,
.widget-tweets ul li a,
.title2 h2 span,
.heading2 h3,
.heading3 h3 {
	color: #635eaa;
}
.service-info i {
	border-color: #635eaa;
}
.footer_widget .social a:hover {
    border: 0px;
    background: #635eaa;
}

.spa-slider .lyr4 {background-color: #635eaa; color: #fff; border: 1px solid #635eaa; }
.spa-slider .lyr4:hover {background-color: transparent; color: #635eaa; }