.cd-top{background:#ee8557}.top_bar ul li i{color:#ee8557}header nav ul li a.active,.header_bottom nav ul li a.active,.practice-bar figure i{color:#cf3183}nav ul li ul.dropdown-menu li a:hover{background:#cf3183}.button{background:#cf3183}.button.blue{background:#ee8557}.button:hover{background:#ee8557}.button.blue:hover{background:#cf3183;border-color:#cf3183}header form a i,.cl-info h2 span,.title h2 span,.practice-bar ul li a:before,.doctors-sec,.featur:after,.options ul li.active a,.news_wrap.st2 .meta ul li a,.news_wrap.st2 .meta ul li span,.heading.hp5 h3 span{color:#cf3183}.icon1{background-image:url(../../image/icon1_3.png)}.icon2{background-image:url(../../image/icon2_3.png)}.icon3{background-image:url(../../image/icon3_3.png)}.icon4{background-image:url(../../image/icon4_3.png)}header form input[type="text"]{border-color:#cf3183}.slide_content,.about_imod .about_img figure,.feature_two .feature figure,.services_two .service:hover,.side_widget > ul > li a:hover,.side_widget > ul > li a.active,.layer,.tp-bgimg.defaultimg:before{background:rgba(207,49,130,1);background:-moz-linear-gradient(left,rgba(207,49,130,1) 0%,rgba(207,49,130,0.89) 36%,rgba(238,132,87,0.8) 66%,rgba(238,132,87,0.7) 100%);background:-webkit-gradient(left top,right top,color-stop(0%,rgba(207,49,130,1)),color-stop(36%,rgba(207,49,130,0.89)),color-stop(66%,rgba(238,132,87,0.8)),color-stop(100%,rgba(238,132,87,0.7)));background:-webkit-linear-gradient(left,rgba(207,49,130,1) 0%,rgba(207,49,130,0.89) 36%,rgba(238,132,87,0.8) 66%,rgba(238,132,87,0.7) 100%);background:-o-linear-gradient(left,rgba(207,49,130,1) 0%,rgba(207,49,130,0.89) 36%,rgba(238,132,87,0.8) 66%,rgba(238,132,87,0.7) 100%);background:-ms-linear-gradient(left,rgba(207,49,130,1) 0%,rgba(207,49,130,0.89) 36%,rgba(238,132,87,0.8) 66%,rgba(238,132,87,0.7) 100%);background:linear-gradient(to right,rgba(207,49,130,1) 0%,rgba(207,49,130,0.89) 36%,rgba(238,132,87,0.8) 66%,rgba(238,132,87,0.7) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf3182',endColorstr='#ee8457',GradientType=1)}.main_info .info_inner h4{color:#cf3183}.main_info .info_inner h5,footer.hp5 .footer_detail ul li i{color:#ee8557}.heading h3 span{color:#cf3183}.heading:after,footer.hp5 .footer_widget h4:after,.cd-top.st2{background:#ee8557}.department .inner_dep,.testi_inner{background:rgba(209,60,136,0.82)}.footer_detail ul li i{color:#ee8557}.header_bottom{background:#ee8557}.header_bottom form input[type="text"]{background:#dc794e}.header_bottom form a{background:#e06731}.slide_content .iner_content h4{color:#ee8557}.appointment_wrap .inner_appointments,.promotion.st2 .inner_promotion{background:rgba(242,163,129,0.89)}.contact_detail .address,.side_widget form button,.forms-fiedls form button,footer.hp5 .button,.testi_three.st2 .heading:after,.title:before,.heading.hp5:after,.testi_three.st2 p:before{background:#cf3183}.maped_detail.contact_detail .address.pink{background:#ee8557}.shop_wrap .price p strong{color:#cf3183}.shop_wrap .star i{color:#f2a07d}div#slider-range span{background:#f09a79}.recent_post ul li span{color:#d13a87}.shop span{color:#f1a17e}.shop .button:hover,.shop:hover .button{background:#d23e8a;border-color:#d13c89}.shop_cates li div h3{color:#d13a87}.shop_cates li div a i{color:#f2a482}


.botom-bar,
.appointment-lnk a,
.pt-service:hover,
.post-date,
.client-review-carousel .owl-dot.active,
.widget-about form button,
.counter-section:before,
.responsive_button,
.responsive_nav ul li a:hover {
	background-color: #ee8557;
}
header nav ul li a:hover{
    color: #cf3183;
}
.header_bottom nav ul li a:hover{color: #cf3183;}
.service-info i,
.toggle-item h2:before,
.post-links ul li i,
.post-links > a,
.widget-tweets ul li a,
.title2 h2 span,
.heading2 h3,
.heading3 h3 {
	color: #ee8557;
}
.service-info i {
	border-color: #ee8557;
}
.footer_widget .social a:hover {
    border: 0px;
    background: #ee8557;
}

.spa-slider .lyr4 {background-color: #ee8557; color: #fff; border: 1px solid #ee8557; }
.spa-slider .lyr4:hover {background-color: transparent; color: #ee8557; }